@use '../bases/variables' as vb;
@use '../modules/index' as md;

.access {
    padding: 40px 0 md.per(149, 375);
    background: url(../img/sec_beige_bg.svg) no-repeat top/cover;
    @include md.rps-sw(xl) {
        padding: 100px 0 md.per(100);
        background: url(../img/sec_beige_bg_pc.svg) no-repeat top/cover;
    }

    .h2_wrap{
        max-width: 600px;
        margin: 0 auto;
        @include md.rps-sw(tab){
            max-width: 100%;
        }
    }
    h2 {
            width: fit-content;
            margin: 0 auto md.per(74,375);
            @include md.fontset(vb.$sub-font, 2.0rem, 500, 29px);
            text-align: right;
            color: vb.$middle-green-color;
            
            @include md.rps-sw(tab) {
                margin-bottom:170px;
                margin-left:md.per(110);
                font-size: 4.8rem;
                line-height: 69px;
                text-align: left;
            }
            @include md.rps-sw(xxl){
                margin-bottom: 74px;
            }
            
            .block {
                display: block;
                strong {
                    font-size: 2.4rem;
                    font-weight: 700;
                    line-height: 34px;
                    color: vb.$orange-color;
                    @include md.rps-sw(tab){
                        font-size:6.4rem;
                        line-height:94px;
                    }
                }
            }
            
            .uline {
                position: relative;
                
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    width: 100%;
                    height: 6px;
                    background: url(../img/access_uline.svg) no-repeat center/100%;
                    @include md.rps-sw(tab){
                        bottom:-12px;
                        left:-21px;
                        width:calc(100% + 21px);
                        height:18px;
                        background: url(../img/access_uline_pc.svg) no-repeat center/100%;
                    }
                }
                
                &.text_position {
                    display: inline-block;
                    margin-top: 17px;
                    padding-right: 4px;
                    @include md.rps-sw(tab){
                        display: block;
                        width: fit-content;
                        margin-left: auto;
                    }
                    @include md.rps-sw(xl){
                        margin-right:-62px;
                    }
                }
            }
        }
        
        .container {
            max-width: 900px;
            margin: 0 auto;
            padding:0 5%;
            @include md.rps-sw(tab) {
                max-width: 1440px;
            }
        .access_map_layout {
            position: relative;
            max-width: 550px;
            margin: 0 auto;
            @include md.rps-sw(tab){
                max-width: 650px;
            }
            @include md.rps-sw(xl){
                max-width: md.per(798);
                margin:0 md.per(120) 0 auto;
            }

            .access_bird {
                position: absolute;
                top: md.per(-62, 225);
                right: md.per(10, 315);
                width: md.per(131, 315);
                @include md.rps-sw(xl){
                    top:md.per(-215,569);
                    right:md.per(-25,798);
                    width:md.per(270.65,798);
                }
            }

            .access_human {
                position: absolute;
                bottom: md.per(-109, 225);
                right: md.per(-5, 315);
                width: md.per(265, 315);
                @include md.rps-sw(xl){
                    bottom:md.per(3,569);
                    left:md.per(-33,798);
                    width:md.per(402,798);
                    transform: translateX(-100%);
                }
            }
        }
    }
}