/*
===============
reset-css
===============
*/
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  --moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/*
===============
font-family
===============
*/
/*
===============
base-color
===============
*/
/*
===============
sp-pc display: none;
===============
*/
.sp {
  display: block !important;
}

.pc {
  display: none !important;
}

@media screen and (min-width: 500px) {
  .sp {
    display: none !important;
  }
  .pc {
    display: block !important;
  }
}
/*
===============
Google-Font
===============
*/
/*
===============
Base
===============
*/
/*
===============
Link-hover
===============
*/
/*
===============
Color-Set
===============
*/
/*
===============
Common-layout
===============
*/
img {
  display: block;
  width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

/*
===============
Opening-Animation
===============
*/
/*
===============
Font-Set
===============
*/
html {
  font-size: 62.5%;
}

.header_wrap {
  background-color: #faf8f6;
}
@media screen and (min-width: 375px) {
  .header_wrap {
    padding: 0 26px 0 17px;
  }
}
@media screen and (min-width: 600px) {
  .header_wrap {
    padding-left: 26px;
  }
}
.header_wrap header {
  padding: 1.8666666667% 0 2.1333333333%;
  max-width: 332px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;
}
@media screen and (min-width: 375px) {
  .header_wrap header {
    max-width: 600px;
  }
}
@media screen and (min-width: 1000px) {
  .header_wrap header {
    padding: 15px 0;
    max-width: 1000px;
  }
}
.header_wrap header .hd_left {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media screen and (min-width: 600px) {
  .header_wrap header .hd_left {
    transform: scale(1.2);
  }
}
@media screen and (min-width: 900px) {
  .header_wrap header .hd_left {
    transform: scale(1.8);
  }
}
@media screen and (min-width: 1000px) {
  .header_wrap header .hd_left {
    gap: 30px;
    transform: scale(1);
  }
}
.header_wrap header .hd_left p {
  transform: translateY(1px);
}
@media screen and (min-width: 1000px) {
  .header_wrap header .hd_left p {
    transform: translateY(13px);
  }
}
.header_wrap header .hd_left p strong {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0;
  color: #184422;
}
@media screen and (min-width: 1000px) {
  .header_wrap header .hd_left p strong {
    font-size: 3rem;
  }
}
.header_wrap header .hd_left h1 {
  width: 112px;
  transform: translateY(-2.5px);
}
@media screen and (min-width: 1000px) {
  .header_wrap header .hd_left h1 {
    width: 284px;
    transform: translateY(0);
  }
}
@media screen and (min-width: 600px) {
  .header_wrap header .hd_right {
    transform: scale(1.2);
  }
}
@media screen and (min-width: 900px) {
  .header_wrap header .hd_right {
    transform: scale(1.8);
  }
}
@media screen and (min-width: 1000px) {
  .header_wrap header .hd_right {
    transform: scale(1);
  }
}
.header_wrap header .hd_right p a {
  display: block;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  color: #184422;
  position: relative;
}
@media screen and (min-width: 1000px) {
  .header_wrap header .hd_right p a {
    font-size: 4rem;
  }
}
@media (hover: hover) {
  .header_wrap header .hd_right p a:hover:after {
    width: 100%;
  }
}
.header_wrap header .hd_right p a:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #184422;
  position: absolute;
  left: 0;
  bottom: -15px;
  transition: 0.3s;
}
.header_wrap header .hd_right p a:before {
  content: "";
  display: block;
  width: 10px;
  height: 12px;
  background: url(../img/tel.svg) no-repeat center/cover;
  position: absolute;
  top: 50%;
  left: -3px;
  transform: translate(-100%, -50%);
}
@media screen and (min-width: 1000px) {
  .header_wrap header .hd_right p a:before {
    top: calc(50% + 3px);
    left: -9px;
    width: 30px;
    height: 36px;
  }
}

.fv {
  overflow: hidden;
}
.fv .fv_bg {
  position: relative;
  height: 426px;
  background: url(../img/fv_bg.jpg) no-repeat top/cover;
}
@media screen and (min-width: 500px) {
  .fv .fv_bg {
    background: url(../img/fv_bg_pc.jpg) no-repeat right/cover;
  }
}
@media screen and (min-width: 900px) {
  .fv .fv_bg {
    height: 717px;
  }
}
.fv .fv_bg .anv_logo {
  position: absolute;
  top: 17px;
  left: 28px;
  min-width: 58px;
  max-width: 110px;
  width: 15.4666666667%;
}
@media screen and (min-width: 900px) {
  .fv .fv_bg .anv_logo {
    top: 40px;
    left: 8.3333333333%;
    max-width: 161px;
    width: 13%;
  }
}
.fv .fv_bg .fv_group {
  position: absolute;
  bottom: 75px;
  left: 24px;
  width: 86.4%;
}
@media screen and (min-width: 375px) {
  .fv .fv_bg .fv_group {
    min-width: 324px;
    max-width: 440px;
    width: 65%;
  }
}
@media screen and (min-width: 900px) {
  .fv .fv_bg .fv_group {
    top: auto;
    bottom: 162px;
    left: 1.9444444444%;
    max-width: 1208px;
    width: 95%;
  }
}
.fv .fv_bg .fv_message {
  position: absolute;
  bottom: 20px;
  left: 28px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0;
  color: #222;
}
@media screen and (min-width: 900px) {
  .fv .fv_bg .fv_message {
    top: 574px;
    left: 8.2638888889%;
    font-size: 2.4rem;
    line-height: 35px;
  }
}
.fv .fv_bg .fv_message span {
  display: inline-block;
  margin-top: 5px;
  transform: translateX(-9px);
}
@media screen and (min-width: 900px) {
  .fv .fv_bg .fv_message span {
    margin: 0;
    transform: translateX(-12px);
  }
}
.fv .fv_contact {
  position: relative;
  z-index: 1;
  margin-top: -15px;
  padding: 40px 0 20px;
  background: url(../img/beige_bg_pc.svg) no-repeat top/cover;
}
@media screen and (min-width: 375px) {
  .fv .fv_contact {
    padding-right: 26px;
    padding-left: 28px;
  }
}
@media screen and (min-width: 900px) {
  .fv .fv_contact {
    margin-top: -27px;
    padding: 71px 0 6.9444444444%;
  }
}
.fv .fv_contact .fv_contact_text {
  position: relative;
  margin: 0 auto 10px;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  color: #000;
}
@media screen and (min-width: 900px) {
  .fv .fv_contact .fv_contact_text {
    margin-bottom: 40px;
    font-size: 2.4rem;
    line-height: 35px;
  }
}
.fv .fv_contact .fv_contact_text:before, .fv .fv_contact .fv_contact_text:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 8px;
  height: 20px;
}
@media screen and (min-width: 900px) {
  .fv .fv_contact .fv_contact_text:before, .fv .fv_contact .fv_contact_text:after {
    top: calc(50% - 3px);
    width: 13px;
    height: 28.5px;
  }
}
.fv .fv_contact .fv_contact_text:before {
  left: -4px;
  background: url(../img/fv_vector_left.svg) no-repeat center/cover;
  transform: translate(-100%, -50%);
}
@media screen and (min-width: 900px) {
  .fv .fv_contact .fv_contact_text:before {
    left: -10px;
  }
}
.fv .fv_contact .fv_contact_text:after {
  right: -4px;
  background: url(../img/fv_vector_right.svg) no-repeat center/cover;
  transform: translate(100%, -50%);
}
@media screen and (min-width: 900px) {
  .fv .fv_contact .fv_contact_text:after {
    right: -10px;
  }
}
.fv .fv_contact ul {
  max-width: 321px;
  margin: 0 auto;
}
@media screen and (min-width: 375px) {
  .fv .fv_contact ul {
    max-width: 600px;
  }
}
@media screen and (min-width: 900px) {
  .fv .fv_contact ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
    max-width: 986px;
  }
}
.fv .fv_contact ul li {
  border-radius: 3px;
  transition: 0.3s;
  margin: 0 auto;
}
.fv .fv_contact ul li:first-child {
  margin-bottom: 10px;
}
@media screen and (min-width: 900px) {
  .fv .fv_contact ul li:first-child {
    margin: 0 auto;
  }
}
@media (hover: hover) {
  .fv .fv_contact ul li:hover {
    transform: translate(0, 10%);
  }
}
.fv .fv_contact ul li.fv_contact_left {
  background: linear-gradient(#6cba3c, #d1dc32);
}
.fv .fv_contact ul li.fv_contact_right {
  background: linear-gradient(#ef6811 35%, #FBB856);
}
.fv .fv_contact ul li a {
  border: 2px solid #fff;
  border-radius: 3px;
  display: block;
  padding: 11px 0 14px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0;
  text-align: center;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 900px) {
  .fv .fv_contact ul li a {
    width: 475px;
    border: 4px solid #fff;
    padding: 27px 0 24px;
    font-size: 1.6rem;
    line-height: 23px;
  }
}
.fv .fv_contact ul li a span {
  position: relative;
  display: inline-block;
}
.fv .fv_contact ul li a span:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -11px;
  transform: translate(100%, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.5px 0 6.5px 12px;
  border-color: transparent transparent transparent #ffffff;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}
@media screen and (min-width: 900px) {
  .fv .fv_contact ul li a span:after {
    border-width: 13px 0 13px 19px;
  }
}
.fv .fv_contact ul li a strong {
  display: inline-block;
  margin-right: 5px;
  font-size: 1.6rem;
  line-height: 23px;
}
@media screen and (min-width: 900px) {
  .fv .fv_contact ul li a strong {
    font-size: 2.8rem;
    line-height: 41px;
  }
}

.reason {
  padding: 28px 0 32px;
  overflow: hidden;
}
@media screen and (min-width: 900px) {
  .reason {
    padding: 100px 0;
  }
}
.reason h2 {
  margin-bottom: 10px;
  font-family: "Noto Serif JP", serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0;
  text-align: center;
  color: #184422;
}
@media screen and (min-width: 900px) {
  .reason h2 {
    margin-bottom: 25px;
    font-size: 6rem;
    line-height: 92px;
  }
}
@media screen and (min-width: 1000px) {
  .reason h2 {
    font-size: 6.4rem;
  }
}
.reason h2 .text-position {
  display: inline-block;
  transform: translateX(8px);
}
@media screen and (min-width: 900px) {
  .reason h2 .text-position {
    transform: translateX(32px);
  }
}
.reason .inline-block {
  position: relative;
  display: inline-block;
  position: relative;
  margin-top: -3px;
  font-size: 2.4rem;
  line-height: 34px;
  color: #ef6811;
}
@media screen and (min-width: 900px) {
  .reason .inline-block {
    margin-top: -11px;
    font-size: 6.4rem;
    line-height: 92px;
  }
}
.reason .inline-block::before, .reason .inline-block::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  width: 50px;
  height: 1px;
  background-color: #184422;
}
@media screen and (min-width: 900px) {
  .reason .inline-block::before, .reason .inline-block::after {
    width: 120px;
    height: 2px;
    top: calc(50% + 21px);
  }
}
.reason .inline-block::before {
  left: -50px;
  transform: translate(-100%, -50%) rotate(57.6deg);
}
@media screen and (min-width: 900px) {
  .reason .inline-block::before {
    left: -12.6388888889%;
    transform: translate(-100%, -50%) rotate(48deg);
  }
}
@media screen and (min-width: 1000px) {
  .reason .inline-block::before {
    left: -182px;
  }
}
.reason .inline-block::after {
  right: -50px;
  transform: translate(100%, -50%) rotate(-57.6deg);
}
@media screen and (min-width: 900px) {
  .reason .inline-block::after {
    right: -12.6388888889%;
    transform: translate(100%, -50%) rotate(-48deg);
  }
}
@media screen and (min-width: 1000px) {
  .reason .inline-block::after {
    right: -182px;
  }
}
.reason .inline-block strong {
  position: relative;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 46px;
}
@media screen and (min-width: 900px) {
  .reason .inline-block strong {
    font-size: 9.6rem;
    line-height: 132px;
  }
}
.reason .inline-block strong::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 5px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: rgba(216, 221, 25, 0.7);
  width: 144px;
}
@media screen and (min-width: 900px) {
  .reason .inline-block strong::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 14px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 26px;
    background-color: rgba(216, 221, 25, 0.7);
    width: 416px;
  }
}
.reason .reason_cp {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 11px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0;
  color: #222;
}
@media screen and (min-width: 900px) {
  .reason .reason_cp {
    margin-bottom: 81px;
    font-size: 3.2rem;
    line-height: 40px;
  }
}
.reason .reason_cp::before, .reason .reason_cp::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 22px;
  height: 1px;
  background-color: #222;
}
@media screen and (min-width: 900px) {
  .reason .reason_cp::before, .reason .reason_cp::after {
    width: 60px;
    height: 1.5px;
  }
}
.reason .reason_cp::before {
  left: -3px;
  transform: translate(-100%, -50%);
}
@media screen and (min-width: 900px) {
  .reason .reason_cp::before {
    left: -6px;
  }
}
.reason .reason_cp::after {
  right: -3px;
  transform: translate(100%, -50%);
}
@media screen and (min-width: 900px) {
  .reason .reason_cp::after {
    right: -6px;
  }
}
.reason .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 5%;
}
@media screen and (min-width: 900px) {
  .reason .container {
    max-width: 1440px;
  }
}
.reason .container ul {
  margin-bottom: 26px;
}
@media screen and (min-width: 900px) {
  .reason .container ul {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 42px;
    margin: 0 auto 20px;
  }
}
.reason .container ul li {
  margin: 0 auto;
  max-width: 500px;
}
@media screen and (min-width: 900px) {
  .reason .container ul li {
    margin: 0;
    max-width: 100%;
  }
}
.reason .container ul li.list_left {
  margin-bottom: 18.3703703704%;
}
@media screen and (min-width: 900px) {
  .reason .container ul li.list_left {
    position: relative;
    z-index: 1;
    margin: 0;
    width: 552px;
  }
}
.reason .container ul li.list_right {
  position: relative;
}
@media screen and (min-width: 900px) {
  .reason .container ul li.list_right {
    z-index: 0;
    width: 645px;
    transform: translate(-13.023255814%, -3.8461538462%);
  }
}
.reason .container ul li.list_right .reason_human_message {
  position: absolute;
  top: -33.5483870968%;
  right: 0.625%;
  width: 98.125%;
}
@media screen and (min-width: 900px) {
  .reason .container ul li.list_right .reason_human_message {
    top: -24.0384615385%;
    right: 40.1550387597%;
    width: 75.9689922481%;
  }
}
.reason .reason_access_text {
  font-family: "Noto Serif JP", serif;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 0;
  letter-spacing: 0;
  text-align: center;
  color: #184422;
}
@media screen and (min-width: 900px) {
  .reason .reason_access_text {
    font-size: 4.8rem;
    line-height: 69px;
  }
}
.reason .reason_access_text .main-font {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
}
@media screen and (min-width: 900px) {
  .reason .reason_access_text .main-font {
    font-size: 3.2rem;
    line-height: 46px;
  }
}
.reason .reason_access_text .block {
  display: block;
}
@media screen and (min-width: 900px) {
  .reason .reason_access_text .block {
    display: inline;
  }
}
.reason .reason_access_text .block strong {
  display: inline-block;
  margin-right: 6px;
}
@media screen and (min-width: 900px) {
  .reason .reason_access_text .block strong {
    margin-right: 5px;
  }
}
@media screen and (min-width: 900px) {
  .reason .reason_access_text .text-position-pc {
    display: inline-block;
    transform: translateX(-17px);
  }
}
.reason .reason_access_text .text-position {
  display: inline-block;
  transform: translateX(10px);
}
@media screen and (min-width: 900px) {
  .reason .reason_access_text .text-position {
    transform: translateX(22px);
  }
}
.reason .reason_access_text strong {
  position: relative;
  font-family: "Noto Serif JP", serif;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0;
  color: #ef6811;
}
@media screen and (min-width: 900px) {
  .reason .reason_access_text strong {
    font-size: 4.8rem;
    line-height: 69px;
  }
}
.reason .reason_access_text strong.text-position-st {
  display: inline-block;
  margin-left: -8px;
}
@media screen and (min-width: 900px) {
  .reason .reason_access_text strong.text-position-st {
    margin-right: 4px;
    margin-left: -18px;
  }
}
.reason .reason_access_text strong:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: rgba(216, 221, 25, 0.7);
}
@media screen and (min-width: 900px) {
  .reason .reason_access_text strong:before {
    width: calc(100% + 10px) !important;
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 50%;
    z-index: -1;
    width: 100%;
    height: 26px;
    background-color: rgba(216, 221, 25, 0.7);
    transform: translateX(-50%);
  }
}
.reason .reason_access_text .sub_t {
  display: block;
  margin-top: 3px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
}
@media screen and (min-width: 900px) {
  .reason .reason_access_text .sub_t {
    margin-top: 23px;
    font-size: 3rem;
    line-height: 46px;
  }
}
@media screen and (min-width: 1000px) {
  .reason .reason_access_text .sub_t {
    font-size: 3.2rem;
  }
}

.access {
  padding: 40px 0 39.7333333333%;
  background: url(../img/sec_beige_bg.svg) no-repeat top/cover;
}
@media screen and (min-width: 1000px) {
  .access {
    padding: 100px 0 6.9444444444%;
    background: url(../img/sec_beige_bg_pc.svg) no-repeat top/cover;
  }
}
.access .h2_wrap {
  max-width: 600px;
  margin: 0 auto;
}
@media screen and (min-width: 900px) {
  .access .h2_wrap {
    max-width: 100%;
  }
}
.access h2 {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 19.7333333333%;
  font-family: "Noto Serif JP", serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0;
  text-align: right;
  color: #59975c;
}
@media screen and (min-width: 900px) {
  .access h2 {
    margin-bottom: 170px;
    margin-left: 7.6388888889%;
    font-size: 4.8rem;
    line-height: 69px;
    text-align: left;
  }
}
@media screen and (min-width: 1440px) {
  .access h2 {
    margin-bottom: 74px;
  }
}
.access h2 .block {
  display: block;
}
.access h2 .block strong {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 34px;
  color: #ef6811;
}
@media screen and (min-width: 900px) {
  .access h2 .block strong {
    font-size: 6.4rem;
    line-height: 94px;
  }
}
.access h2 .uline {
  position: relative;
}
.access h2 .uline::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 6px;
  background: url(../img/access_uline.svg) no-repeat center/100%;
}
@media screen and (min-width: 900px) {
  .access h2 .uline::before {
    bottom: -12px;
    left: -21px;
    width: calc(100% + 21px);
    height: 18px;
    background: url(../img/access_uline_pc.svg) no-repeat center/100%;
  }
}
.access h2 .uline.text_position {
  display: inline-block;
  margin-top: 17px;
  padding-right: 4px;
}
@media screen and (min-width: 900px) {
  .access h2 .uline.text_position {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
  }
}
@media screen and (min-width: 1000px) {
  .access h2 .uline.text_position {
    margin-right: -62px;
  }
}
.access .container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 5%;
}
@media screen and (min-width: 900px) {
  .access .container {
    max-width: 1440px;
  }
}
.access .container .access_map_layout {
  position: relative;
  max-width: 550px;
  margin: 0 auto;
}
@media screen and (min-width: 900px) {
  .access .container .access_map_layout {
    max-width: 650px;
  }
}
@media screen and (min-width: 1000px) {
  .access .container .access_map_layout {
    max-width: 55.4166666667%;
    margin: 0 8.3333333333% 0 auto;
  }
}
.access .container .access_map_layout .access_bird {
  position: absolute;
  top: -27.5555555556%;
  right: 3.1746031746%;
  width: 41.5873015873%;
}
@media screen and (min-width: 1000px) {
  .access .container .access_map_layout .access_bird {
    top: -37.7855887522%;
    right: -3.1328320802%;
    width: 33.9160401003%;
  }
}
.access .container .access_map_layout .access_human {
  position: absolute;
  bottom: -48.4444444444%;
  right: -1.5873015873%;
  width: 84.126984127%;
}
@media screen and (min-width: 1000px) {
  .access .container .access_map_layout .access_human {
    bottom: 0.5272407733%;
    left: -4.1353383459%;
    width: 50.3759398496%;
    transform: translateX(-100%);
  }
}

.insti {
  padding: 40px 0 26px;
}
@media screen and (min-width: 900px) {
  .insti {
    padding: 106px 0 100px;
  }
}
.insti h2 {
  margin-bottom: 24px;
  font-family: "Noto Serif JP", serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0;
  text-align: center;
  color: #184422;
}
@media screen and (min-width: 900px) {
  .insti h2 {
    margin-bottom: 18px;
    font-size: 3.6rem;
    line-height: 52px;
  }
}
.insti h2 .block {
  display: block;
}
@media screen and (min-width: 900px) {
  .insti h2 .block {
    display: inline;
  }
}
.insti h2 .text-position {
  display: inline-block;
  margin-top: -7px;
}
@media screen and (min-width: 900px) {
  .insti h2 .text-position {
    margin: 0;
  }
}
.insti h2 strong {
  position: relative;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 34px;
  color: #ef6811;
}
@media screen and (min-width: 900px) {
  .insti h2 strong {
    font-size: 4.8rem;
    line-height: 69px;
  }
}
.insti h2 strong::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: rgba(216, 221, 25, 0.7);
}
@media screen and (min-width: 900px) {
  .insti h2 strong::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 30px;
    background-color: rgba(216, 221, 25, 0.7);
  }
}
.insti .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 5%;
}
@media screen and (min-width: 900px) {
  .insti .container {
    max-width: 1440px;
    padding: 0 7.6388888889%;
  }
}
.insti .container .insti_human {
  width: 282px;
  margin: 0 auto 13px;
}
@media screen and (min-width: 900px) {
  .insti .container .insti_human {
    width: 41.3888888889%;
    margin: 0 0 40px auto;
  }
}
.insti .container .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
@media screen and (min-width: 900px) {
  .insti .container .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

.event {
  padding: 42px 0 52px;
  background: url(../img/event_bg.svg) no-repeat top/cover;
}
@media screen and (min-width: 900px) {
  .event {
    padding: 108px 0 154px;
    background: url(../img/event_bg_pc.svg) no-repeat top/cover;
  }
}
.event h2 {
  margin-bottom: 20px;
  font-family: "Noto Serif JP", serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0;
  text-align: center;
  color: #184422;
}
@media screen and (min-width: 900px) {
  .event h2 {
    margin-bottom: 60px;
    font-size: 3.2rem;
    line-height: 52px;
  }
}
@media screen and (min-width: 1000px) {
  .event h2 {
    font-size: 3.6rem;
  }
}
.event h2 .block {
  display: block;
}
@media screen and (min-width: 900px) {
  .event h2 .block {
    display: inline;
  }
}
.event h2 strong {
  display: inline-block;
  position: relative;
  z-index: 0;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 34px;
  color: #ef6811;
}
@media screen and (min-width: 900px) {
  .event h2 strong {
    font-size: 4.8rem;
    line-height: 69px;
  }
}
.event h2 strong::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 7px;
  background-color: rgba(216, 221, 25, 0.7);
}
@media screen and (min-width: 900px) {
  .event h2 strong::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 30px;
    background-color: rgba(216, 221, 25, 0.7);
  }
}
.event .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 5%;
}
@media screen and (min-width: 900px) {
  .event .container {
    max-width: 1440px;
    padding: 0;
  }
}
@media screen and (min-width: 900px) {
  .event .container ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.event .container ul li p {
  margin-top: 5px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .event .container ul li p {
    margin-top: 18px;
    font-size: 2.4rem;
    line-height: 35px;
  }
}
.event .container ul li.event_list01 {
  width: 56.2962962963%;
  margin: 0 0 10px 20px;
}
@media screen and (min-width: 900px) {
  .event .container ul li.event_list01 {
    width: 26.7916666667%;
    margin: 40px 0 0 12.4305555556%;
  }
}
.event .container ul li.event_list02 {
  width: 65.4814814815%;
  margin: 0 0 10px auto;
}
@media screen and (min-width: 900px) {
  .event .container ul li.event_list02 {
    width: 44.2361111111%;
    margin: 0 11.8055555556% 86px 0;
  }
}
.event .container ul li.event_list03 {
  width: 95.4074074074%;
  margin: 0 0 10px auto;
}
@media screen and (min-width: 900px) {
  .event .container ul li.event_list03 {
    width: 38.0430555556%;
    margin: 0 0 53px 9.7222222222%;
  }
}
.event .container ul li.event_list04 {
  width: 56.0918518519%;
  margin: 0 auto 9.6562962963% auto;
}
@media screen and (min-width: 900px) {
  .event .container ul li.event_list04 {
    width: 30.5555555556%;
    margin: 14px 16.6666666667% 0 0;
  }
}
.event .container ul li.event_list05 {
  position: relative;
  width: 64.5925925926%;
  margin: 0 0 10px auto;
}
@media screen and (min-width: 900px) {
  .event .container ul li.event_list05 {
    width: 30.4166666667%;
    margin: 0 0 0 25.625%;
  }
}
.event .container ul li.event_list05 .event_human {
  position: absolute;
  bottom: 7.898089172%;
  left: 30px;
  transform: translateX(-100%);
  width: 66.5137614679%;
}
@media screen and (min-width: 900px) {
  .event .container ul li.event_list05 .event_human {
    bottom: 2.2831050228%;
    left: 6.8493150685%;
    width: 55.4794520548%;
  }
}
.event .container ul li.event_list06 {
  width: 68.7407407407%;
  margin-bottom: 10px;
}
@media screen and (min-width: 900px) {
  .event .container ul li.event_list06 {
    width: 26.4583333333%;
    margin: 0 15.2208333333% 0 0;
  }
}
.event .container ul li.event_list07 {
  width: 74.0740740741%;
  margin: 0 0 2px auto;
}
@media screen and (min-width: 900px) {
  .event .container ul li.event_list07 {
    width: 27.9166666667%;
    margin: 49px 0 0 8.75%;
  }
}
.event .container ul li.event_list08 {
  width: 100.1481481481%;
}
@media screen and (min-width: 900px) {
  .event .container ul li.event_list08 {
    width: 49.5138888889%;
    margin: -2.5694444444% 9.375% 0 0;
  }
}
.event .container ul li.event_list08 p {
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px auto 0;
  transform: translateX(25%);
}
@media screen and (min-width: 900px) {
  .event .container ul li.event_list08 p {
    margin-top: 18px;
  }
}

.food {
  padding: 40px 0 40px;
}
@media screen and (min-width: 900px) {
  .food {
    padding: 100px 0;
  }
}
.food h2 {
  margin-bottom: 20px;
  font-family: "Noto Serif JP", serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0;
  text-align: center;
  color: #184422;
}
@media screen and (min-width: 900px) {
  .food h2 {
    margin-bottom: 60px;
    font-size: 3.2rem;
    line-height: 52px;
  }
}
@media screen and (min-width: 1000px) {
  .food h2 {
    font-size: 3.6rem;
  }
}
.food h2 .block {
  display: block;
}
@media screen and (min-width: 900px) {
  .food h2 .block {
    display: inline;
  }
}
.food h2 strong {
  position: relative;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 34px;
  color: #ef6811;
}
@media screen and (min-width: 900px) {
  .food h2 strong {
    font-size: 4.8rem;
    line-height: 69px;
  }
}
.food h2 strong::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 7px;
  background-color: rgba(216, 221, 25, 0.7);
}
@media screen and (min-width: 900px) {
  .food h2 strong::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 30px;
    background-color: rgba(216, 221, 25, 0.7);
  }
}
.food .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 5%;
}
@media screen and (min-width: 900px) {
  .food .container {
    max-width: 1440px;
  }
}
.food .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 10px;
  margin-bottom: 20px;
}
@media screen and (min-width: 900px) {
  .food .grid {
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    gap: 60px 20px;
    max-width: 910px;
    margin: 0 auto 60px;
  }
}
.food .grid li {
  border-radius: 7px;
}
.food .grid li p {
  margin-top: 2px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0;
}
@media screen and (min-width: 900px) {
  .food .grid li p {
    margin-top: 10px;
    font-size: 1.6rem;
    line-height: 23px;
  }
}
.food .food_text {
  width: 290px;
  margin: 0 auto 16px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  color: #184422;
}
@media screen and (min-width: 900px) {
  .food .food_text {
    width: 813px;
    margin-bottom: 63px;
    font-size: 2.4rem;
    line-height: 50px;
  }
}
.food .food_btn {
  max-width: 742px;
  margin: 0 auto;
  transition: 0.3s;
}
@media (hover: hover) {
  .food .food_btn:hover {
    transform: translateY(5%);
  }
}

.medic {
  padding: 40px 0;
  background: url(../img/medic_bg.svg) no-repeat top/cover;
}
@media screen and (min-width: 900px) {
  .medic {
    padding: 100px 0;
    background: url(../img/medic_bg_pc.svg) no-repeat top/cover;
  }
}
.medic h2 {
  margin-bottom: 10px;
  font-family: "Noto Serif JP", serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0;
  text-align: center;
  color: #184422;
}
@media screen and (min-width: 900px) {
  .medic h2 {
    margin-bottom: 32px;
    font-size: 3.6rem;
    line-height: 52px;
  }
}
.medic h2 .block {
  display: block;
}
@media screen and (min-width: 900px) {
  .medic h2 .block {
    display: inline;
  }
}
.medic h2 strong {
  position: relative;
  z-index: 0;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 34px;
  color: #ef6811;
}
@media screen and (min-width: 900px) {
  .medic h2 strong {
    font-size: 4.8rem;
    line-height: 69px;
  }
}
.medic h2 strong::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 7px;
  background-color: rgba(216, 221, 25, 0.7);
}
@media screen and (min-width: 900px) {
  .medic h2 strong::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 30px;
    background-color: rgba(216, 221, 25, 0.7);
  }
}
.medic .container {
  max-width: 550px;
  margin: 0 auto;
  padding: 0 5%;
}
@media screen and (min-width: 900px) {
  .medic .container {
    max-width: 1440px;
    padding: 0;
  }
}
.medic .medic_human01 {
  margin-bottom: 20px;
}
@media screen and (min-width: 900px) {
  .medic .medic_human01 {
    width: 663px;
    margin: 0 172px 30px auto;
  }
}
@media screen and (min-width: 900px) {
  .medic ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
}
.medic ul .medic_img {
  margin-bottom: 10px;
}
@media screen and (min-width: 900px) {
  .medic ul .medic_img {
    width: 537px;
    margin: 0;
  }
}
@media screen and (min-width: 900px) {
  .medic ul .medic_text {
    transform: scale(0.8);
    transform-origin: top;
  }
}
@media screen and (min-width: 1200px) {
  .medic ul .medic_text {
    transform: scale(1);
  }
}
.medic ul .medic_text h3 {
  margin-bottom: 5px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0;
}
@media screen and (min-width: 900px) {
  .medic ul .medic_text h3 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    line-height: 35px;
  }
}
.medic ul .medic_text p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
}
@media screen and (min-width: 900px) {
  .medic ul .medic_text p {
    font-size: 2.4rem;
    line-height: 50px;
  }
}
.medic .medic_doctor {
  margin-bottom: 20px;
}
@media screen and (min-width: 900px) {
  .medic .medic_doctor {
    flex-direction: row-reverse;
    margin-bottom: 0;
  }
  .medic .medic_doctor .medic_img {
    width: 553px;
    margin-right: 2%;
  }
  .medic .medic_doctor .medic_text {
    width: 41.5277777778%;
    margin-left: 2%;
    padding-top: 2.4305555556%;
  }
}
@media screen and (min-width: 1000px) {
  .medic .medic_doctor {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .medic .medic_doctor .medic_img {
    margin-right: 8.4027777778%;
  }
  .medic .medic_doctor .medic_text {
    margin-left: 8.5416666667%;
  }
}
.medic .medic_flower {
  margin-bottom: 40px;
}
@media screen and (min-width: 900px) {
  .medic .medic_flower {
    margin-bottom: 54px;
  }
  .medic .medic_flower .medic_img {
    margin-left: 2%;
  }
  .medic .medic_flower .medic_text {
    width: 41.5972222222%;
    margin-right: 2%;
    padding-top: 2.4305555556%;
  }
}
@media screen and (min-width: 1200px) {
  .medic .medic_flower .medic_img {
    margin-left: 8.3333333333%;
  }
  .medic .medic_flower .medic_text {
    margin-right: 8.4027777778%;
  }
}
.medic h4 {
  margin-bottom: 10px;
  font-family: "Noto Serif JP", serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0;
  text-align: center;
  color: #184422;
}
@media screen and (min-width: 900px) {
  .medic h4 {
    margin-bottom: 26px;
    font-size: 3.2rem;
    line-height: 52px;
  }
}
@media screen and (min-width: 1000px) {
  .medic h4 {
    font-size: 3.6rem;
  }
}
.medic h4 .block {
  display: block;
}
@media screen and (min-width: 900px) {
  .medic h4 .block {
    display: inline;
  }
}
.medic h4 strong {
  position: relative;
  z-index: 0;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 34px;
  color: #ef6811;
}
@media screen and (min-width: 900px) {
  .medic h4 strong {
    font-size: 4.8rem;
    line-height: 69px;
  }
}
.medic h4 strong::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 7px;
  background-color: rgba(216, 221, 25, 0.7);
}
@media screen and (min-width: 900px) {
  .medic h4 strong::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 30px;
    background-color: rgba(216, 221, 25, 0.7);
  }
}
.medic .sub_cp {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 20px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  color: #222;
}
@media screen and (min-width: 900px) {
  .medic .sub_cp {
    margin-bottom: 21px;
    font-size: 2.4rem;
    line-height: 35px;
  }
}
.medic .sub_cp::before, .medic .sub_cp::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 26px;
  height: 1px;
  background-color: #222;
}
@media screen and (min-width: 900px) {
  .medic .sub_cp::before, .medic .sub_cp::after {
    width: 45px;
    height: 2px;
  }
}
.medic .sub_cp::before {
  left: -2px;
  transform: translate(-100%, -50%);
}
@media screen and (min-width: 900px) {
  .medic .sub_cp::before {
    left: -3px;
  }
}
.medic .sub_cp::after {
  right: -2px;
  transform: translate(100%, -50%);
}
@media screen and (min-width: 900px) {
  .medic .sub_cp::after {
    right: -3px;
  }
}
.medic .medic_human02 {
  width: 81.4814814815%;
  margin: 0 0 20px 10px;
}
@media screen and (min-width: 900px) {
  .medic .medic_human02 {
    width: 36.9444444444%;
    margin: 0 0 60px 11.8055555556%;
  }
}
.medic .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
@media screen and (min-width: 900px) {
  .medic .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 84.7222222222%;
    margin: 0 auto;
  }
}
.medic .grid li {
  border-radius: 7px;
}

.room {
  padding: 40px 0;
}
@media screen and (min-width: 900px) {
  .room {
    padding: 47px 0 100px;
  }
}
.room h2 {
  margin-bottom: 20px;
  font-family: "Noto Serif JP", serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0;
  text-align: center;
  color: #184422;
}
@media screen and (min-width: 900px) {
  .room h2 {
    margin-bottom: 40px;
    font-size: 3.6rem;
    line-height: 52px;
  }
}
.room h2 .block_pc {
  display: block;
  margin-bottom: 5px;
}
@media screen and (min-width: 900px) {
  .room h2 .block_pc {
    margin-bottom: 20px;
  }
}
.room h2 .block {
  display: block;
  margin-bottom: 5px;
}
@media screen and (min-width: 900px) {
  .room h2 .block {
    display: inline;
  }
}
.room h2 strong {
  position: relative;
  font-size: 2rem;
  line-height: 29px;
  color: #ef6811;
}
@media screen and (min-width: 900px) {
  .room h2 strong {
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 69px;
  }
}
.room h2 strong::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 2px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 7px;
  background-color: rgba(216, 221, 25, 0.7);
}
@media screen and (min-width: 900px) {
  .room h2 strong::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 4px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 20px;
    background-color: rgba(216, 221, 25, 0.7);
  }
}
.room h2 strong.fw_sb {
  font-weight: 600;
}
.room h2 strong.fs_16 {
  font-size: 1.6rem;
  line-height: 23px;
}
@media screen and (min-width: 900px) {
  .room h2 strong.fs_16 {
    font-size: 4.8rem;
    line-height: 69px;
  }
}
.room h2 strong.inline-block {
  display: inline-block;
}
.room .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 5%;
}
@media screen and (min-width: 900px) {
  .room .container {
    max-width: 1440px;
    padding: 0;
  }
}
.room ul {
  margin-bottom: 20px;
}
@media screen and (min-width: 900px) {
  .room ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
  }
}
@media screen and (min-width: 900px) {
  .room ul li {
    width: 37.2916666667%;
  }
}
.room ul li:first-child {
  margin-bottom: 10px;
}
@media screen and (min-width: 900px) {
  .room ul li:first-child {
    margin: 0 0 0 10%;
  }
}
@media screen and (min-width: 900px) {
  .room ul li:last-child {
    margin-right: 10%;
  }
}
.room article {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0 28px;
  border-radius: 7px;
  background-color: #ef6811;
}
@media screen and (min-width: 900px) {
  .room article {
    max-width: 1440px;
    padding: 62px 0 40px;
  }
}
.room article .point {
  display: inline-block;
  position: relative;
}
.room article .point::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: 50%;
}
.room article .point.white::before {
  top: 0;
  width: 4px;
  height: 4px;
  background-color: #fff;
}
@media screen and (min-width: 900px) {
  .room article .point.white::before {
    top: -14px;
    width: 8px;
    height: 8px;
  }
}
.room article .point.orange::before {
  top: -5px;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: #ef6811;
}
@media screen and (min-width: 900px) {
  .room article .point.orange::before {
    top: -3px;
    width: 8px;
    height: 8px;
  }
}
.room article h3 {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 18px;
  font-family: "Noto Serif JP", serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0;
  color: #222;
}
@media screen and (min-width: 900px) {
  .room article h3 {
    margin-bottom: 22px;
    font-size: 3.6rem;
    line-height: 52px;
  }
}
.room article h3::before, .room article h3::after {
  content: "";
  position: absolute;
  top: calc(50% + 3px);
  width: 32px;
  height: 1px;
  background-color: #222;
}
@media screen and (min-width: 900px) {
  .room article h3::before, .room article h3::after {
    top: 50%;
    width: 64px;
    height: 2px;
  }
}
.room article h3::before {
  left: 5px;
  transform: translate(-100%, -50%) rotate(56.74deg);
}
@media screen and (min-width: 900px) {
  .room article h3::before {
    left: 17px;
  }
}
.room article h3::after {
  right: 5px;
  transform: translate(100%, -50%) rotate(-56.74deg);
}
@media screen and (min-width: 900px) {
  .room article h3::after {
    right: 17px;
  }
}
.room article h3 strong {
  font-size: 2.4rem;
  line-height: 34px;
  color: #fff;
}
@media screen and (min-width: 900px) {
  .room article h3 strong {
    font-size: 4.8rem;
    line-height: 69px;
  }
}
.room article .white_area {
  margin: 0 5%;
  padding: 40px 0 42px;
  border-radius: 7px;
  background-color: #fff;
}
@media screen and (min-width: 900px) {
  .room article .white_area {
    margin: 0 63px;
    padding: 68px 0 40px;
  }
}
.room article .white_area .price {
  position: relative;
  margin-bottom: 44px;
  padding: 0 23px;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0;
}
@media screen and (min-width: 900px) {
  .room article .white_area .price {
    margin-bottom: 35px;
    padding: 0;
  }
}
.room article .white_area .price::before, .room article .white_area .price::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 271px;
  height: 1px;
  background-color: #222;
}
@media screen and (min-width: 900px) {
  .room article .white_area .price::before, .room article .white_area .price::after {
    width: 715px;
  }
}
.room article .white_area .price::before {
  top: -16px;
}
@media screen and (min-width: 900px) {
  .room article .white_area .price::before {
    top: -11px;
  }
}
.room article .white_area .price::after {
  bottom: -25px;
}
@media screen and (min-width: 900px) {
  .room article .white_area .price::after {
    bottom: -13px;
  }
}
.room article .white_area .price span {
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 64px;
  color: #ef6811;
}
@media screen and (min-width: 900px) {
  .room article .white_area .price span {
    font-size: 96px;
    line-height: 96px;
  }
}
.room article .white_area .price span.text-center {
  display: block;
  margin-bottom: 3px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  color: #222;
}
@media screen and (min-width: 900px) {
  .room article .white_area .price span.text-center {
    display: inline-block;
    margin: 0 28px 0 0;
    font-size: 3.2rem;
    line-height: 46px;
    transform: translateY(-17px);
  }
}
.room article .white_area .price span.text-position {
  display: inline-block;
  font-size: 3.2rem;
  line-height: 46px;
  color: #222;
  transform: translate(-1px, -2px);
}
@media screen and (min-width: 900px) {
  .room article .white_area .price span.text-position {
    margin: 21px 0 0 10px;
    font-size: 6.4rem;
    line-height: 93px;
    transform: translate(0);
  }
}
.room article .white_area .price img {
  display: inline-block;
  margin-left: 11px;
  width: 71px;
}
@media screen and (min-width: 900px) {
  .room article .white_area .price img {
    margin-left: 44px;
    width: 117px;
  }
}
.room article .white_area .life {
  margin-bottom: 18px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0;
  text-align: center;
  color: #222;
}
@media screen and (min-width: 900px) {
  .room article .white_area .life {
    margin-bottom: 25px;
    font-size: 3.2rem;
    line-height: 46px;
  }
}
.room article .white_area .life .text-position {
  display: inline-block;
  transform: translateX(10px);
}
@media screen and (min-width: 900px) {
  .room article .white_area .life .text-position {
    transform: translateX(14px);
  }
}
.room article .white_area .life .block {
  display: block;
  margin-top: 16px;
}
@media screen and (min-width: 900px) {
  .room article .white_area .life .block {
    display: inline;
  }
}
.room article .white_area .life .text_orange {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 41px;
  color: #ef6811;
}
@media screen and (min-width: 900px) {
  .room article .white_area .life .text_orange {
    font-size: 3.6rem;
    line-height: 52px;
  }
}
.room article .white_area .room_des {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .room article .white_area .room_des {
    font-size: 2.4rem;
    line-height: 35px;
  }
}

.voice {
  padding: 36px 0 38px;
  background: url(../img/voice_bg.svg) no-repeat top/cover;
}
@media screen and (min-width: 900px) {
  .voice {
    padding: 100px 0 92px;
    background: url(../img/voice_bg_pc.svg) no-repeat top/cover;
  }
}
.voice h2 {
  margin-bottom: 23px;
  font-family: "Noto Serif JP", serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0;
  text-align: center;
  color: #184422;
}
@media screen and (min-width: 900px) {
  .voice h2 {
    margin-bottom: 60px;
    font-size: 3.6rem;
    line-height: 52px;
  }
}
.voice h2 strong {
  position: relative;
  z-index: 0;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 34px;
  color: #ef6811;
}
@media screen and (min-width: 900px) {
  .voice h2 strong {
    font-size: 4.8rem;
    line-height: 69px;
  }
}
.voice h2 strong::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: rgba(216, 221, 25, 0.7);
}
@media screen and (min-width: 900px) {
  .voice h2 strong::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 4px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 20px;
    background-color: rgba(216, 221, 25, 0.7);
  }
}
.voice .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 5%;
}
@media screen and (min-width: 900px) {
  .voice .container {
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .voice .container {
    max-width: 1440px;
    padding: 0 120px;
  }
}
.voice ul li {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.voice ul li.list_left {
  margin-bottom: 23px;
}
@media screen and (min-width: 1200px) {
  .voice ul li.list_left {
    margin-bottom: 52px;
    padding-left: 42.5%;
    background: url(../img/voice_list01_pc.jpg) no-repeat left/cover;
  }
  .voice ul li.list_left .list_text {
    padding: 7.2463768116% 6.0869565217% 6.0869565217% 0;
  }
}
@media screen and (min-width: 1200px) {
  .voice ul li.list_right {
    padding-right: 42.75%;
    background: url(../img/voice_list02_pc.jpg) no-repeat right/cover;
  }
  .voice ul li.list_right .list_text {
    padding: 7.2780203785% 0 3.2023289665% 6.6957787482%;
  }
  .voice ul li.list_right .list_text h3 {
    width: 603px;
  }
}
@media screen and (min-width: 1200px) {
  .voice ul li .list_img {
    display: none;
  }
}
.voice ul li .list_text {
  padding: 25px 16px 19px;
  color: #222;
  background-color: #fff;
}
@media screen and (min-width: 1200px) {
  .voice ul li .list_text {
    padding: 0;
    background-color: transparent;
  }
}
.voice ul li .list_text h3 {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #222;
  font-family: "Noto Serif JP", serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0;
}
@media screen and (min-width: 1200px) {
  .voice ul li .list_text h3 {
    margin: 0;
    padding-bottom: 20px;
    border: none;
    font-size: 3.2rem;
    line-height: 46px;
  }
}
.voice ul li .list_text p {
  margin-top: 15px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
}
@media screen and (min-width: 1200px) {
  .voice ul li .list_text p {
    margin: 0;
    border-top: 1px solid #222;
    font-size: 1.6rem;
    line-height: 40px;
  }
}

.visit {
  padding: 48px 0 40px;
}
@media screen and (min-width: 900px) {
  .visit {
    padding: 100px 8% 97px;
  }
}
.visit .container {
  max-width: 600px;
  margin: 0 auto;
}
@media screen and (min-width: 900px) {
  .visit .container {
    max-width: 1100px;
  }
}/*# sourceMappingURL=top.css.map */