/*
===============
reset-css
===============
*/
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  --moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/*
===============
font-family
===============
*/
/*
===============
base-color
===============
*/
/*
===============
sp-pc display: none;
===============
*/
.sp {
  display: block !important;
}

.pc {
  display: none !important;
}

@media screen and (min-width: 768px) {
  .sp {
    display: none !important;
  }
  .pc {
    display: block !important;
  }
}
/*
===============
Google-Font
===============
*/
/*
===============
Base
===============
*/
/*
===============
Link-hover
===============
*/
/*
===============
Color-Set
===============
*/
/*
===============
Common-layout
===============
*/
img {
  display: block;
  width: 100%;
  height: auto;
}

/*
===============
Opening-Animation
===============
*/
/*
===============
Font-Set
===============
*/
html {
  font-size: 62.5%;
}

.header_wrap {
  padding: 0 27px;
  background-color: #faf8f6;
}
.header_wrap header {
  height: 81px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;
  max-width: 930px;
}
.header_wrap header .hd_left {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .header_wrap header .hd_left {
    gap: 7px;
  }
}
.header_wrap header .hd_left p {
  padding-bottom: 1px;
}
.header_wrap header .hd_left p strong {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0;
  color: #184422;
}
@media screen and (min-width: 768px) {
  .header_wrap header .hd_left p strong {
    font-size: 1.6rem;
  }
}
.header_wrap header .hd_left h1 {
  width: 284px;
}
@media screen and (min-width: 768px) {
  .header_wrap header .hd_left h1 {
    width: 220px;
  }
}
.header_wrap header .hd_right p a {
  display: block;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 4rem;
  font-weight: 500;
  line-height: 58px;
  letter-spacing: 0;
  color: #184422;
  transform: translateY(2px);
  position: relative;
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  .header_wrap header .hd_right p a {
    font-size: 2.8rem;
  }
}
@media (hover: hover) {
  .header_wrap header .hd_right p a:hover:after {
    width: 100%;
  }
}
.header_wrap header .hd_right p a:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #184422;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: 0.3s;
}
.header_wrap header .hd_right p a:before {
  content: "";
  display: block;
  width: 28px;
  height: 36px;
  background: url(../img/tel.svg) no-repeat center/cover;
  position: absolute;
  top: calc(50% + 3px);
  left: -9px;
  transform: translate(-100%, -50%);
}
@media screen and (min-width: 768px) {
  .header_wrap header .hd_right p a:before {
    left: -3px;
    width: 20px;
    height: 26px;
  }
}

.fv {
  overflow: hidden;
}
.fv .fv_bg {
  position: relative;
  padding-top: 426px;
  padding-bottom: 84px;
  background: url(../img/fv_bg.jpg) no-repeat center/cover;
}
.fv .fv_bg .anv_logo {
  position: absolute;
  top: 40px;
  left: 120px;
  width: 161px;
}
@media screen and (min-width: 900px) {
  .fv .fv_bg .anv_logo {
    top: 17px;
    left: 28px;
  }
}
.fv .fv_bg .fv_circles {
  position: absolute;
  top: 165px;
  left: 35px;
  width: 505px;
}
@media screen and (min-width: 768px) {
  .fv .fv_bg .fv_circles {
    top: 295px;
    left: 218px;
    width: 440px;
  }
}
.fv .fv_bg h2 {
  margin-left: 118px;
  margin-bottom: 19px;
  font-family: "Noto Serif JP", serif;
  font-size: 9rem;
  font-weight: 600;
  line-height: 129px;
  letter-spacing: 0;
  text-shadow: 2px 2px 4px #f3ffef, 2px -2px 4px #f3ffef, -2px 2px 4px #f3ffef, -2px -2px 4px #f3ffef;
  color: #184422;
}
@media screen and (min-width: 900px) {
  .fv .fv_bg h2 {
    margin-left: 28px;
    font-size: 6.6rem;
    line-height: 95px;
  }
}
.fv .fv_bg h2 .uline {
  position: relative;
  z-index: 0;
}
.fv .fv_bg h2 .uline:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 9px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 30px;
  background-color: rgba(216, 221, 25, 0.7);
  width: 98%;
}
@media screen and (min-width: 1000px) {
  .fv .fv_bg h2 .uline .uline-res {
    display: block;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
  }
  .fv .fv_bg h2 .uline .uline-res:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 9px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 30px;
    background-color: rgba(216, 221, 25, 0.7);
    width: 98%;
  }
}
.fv .fv_bg .fv_message {
  margin-left: 119px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0;
  color: #222;
}
@media screen and (min-width: 900px) {
  .fv .fv_bg .fv_message {
    margin-left: 28px;
  }
}
.fv .fv_bg .fv_message span {
  display: inline-block;
  margin-top: 1px;
  transform: translateX(-12px);
}
.fv .fv_contact {
  position: relative;
  z-index: 1;
  margin-top: -31px;
  padding: 71px 0 100px;
  background: url(../img/beige_bg.svg) no-repeat top/cover;
}
.fv .fv_contact .fv_contact_text {
  position: relative;
  margin: 0 auto 41px;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0;
  color: #000;
}
.fv .fv_contact .fv_contact_text:before, .fv .fv_contact .fv_contact_text:after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 3px);
  width: 13px;
  height: 28.5px;
}
.fv .fv_contact .fv_contact_text:before {
  left: -10px;
  background: url(../img/fv_vector_left.svg) no-repeat center/cover;
  transform: translate(-100%, -50%);
}
.fv .fv_contact .fv_contact_text:after {
  right: -10px;
  background: url(../img/fv_vector_right.svg) no-repeat center/cover;
  transform: translate(100%, -50%);
}
.fv .fv_contact ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 986px;
  margin: 0 auto;
}
.fv .fv_contact ul li {
  border-radius: 3px;
  transition: 0.3s;
}
@media (hover: hover) {
  .fv .fv_contact ul li:hover {
    transform: translate(0, 10%);
  }
}
.fv .fv_contact ul li.fv_contact_left {
  background: linear-gradient(#6cba3c, #d1dc32);
}
.fv .fv_contact ul li.fv_contact_right {
  background: linear-gradient(#ef6811 35%, #FBB856);
}
.fv .fv_contact ul li a {
  display: block;
  width: 475px;
  height: 100px;
  border: 4px solid #fff;
  border-radius: 3px;
  padding-top: 27px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0;
  text-align: center;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.fv .fv_contact ul li a span {
  display: inline-block;
  position: relative;
  margin-left: -6px;
}
.fv .fv_contact ul li a span:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -11px;
  transform: translate(100%, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 0 13px 19px;
  border-color: transparent transparent transparent #ffffff;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}
.fv .fv_contact ul li a strong {
  line-height: 41px;
  font-size: 2.8rem;
}

.reason {
  padding: 28px 5% 32px;
}
@media screen and (min-width: 900px) {
  .reason {
    padding: 100px 5%;
  }
}
.reason .container {
  max-width: 600px;
  margin: 0 auto;
}
@media screen and (min-width: 900px) {
  .reason .container {
    max-width: 1440px;
  }
}
.reason .container h2 {
  margin-bottom: 10px;
  font-family: "Noto Serif JP", serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0;
  text-align: center;
  color: #184422;
}
@media screen and (min-width: 900px) {
  .reason .container h2 {
    margin-bottom: 25px;
    font-size: 6.4rem;
    line-height: 92px;
  }
}
.reason .container h2 img {
  display: inline-block;
  width: 172px;
  margin: 0 4px 0 8px;
  transform: translateY(-5px);
}
@media screen and (min-width: 900px) {
  .reason .container h2 img {
    width: 527px;
    margin: 0 9px 0 24px;
    transform: translateY(-14px);
  }
}
.reason .container h2 .inline-block {
  display: inline-block;
  position: relative;
  margin-top: -3px;
  font-size: 2.4rem;
  line-height: 34px;
}
@media screen and (min-width: 900px) {
  .reason .container h2 .inline-block {
    margin-top: -11px;
    font-size: 6.4rem;
    line-height: 92px;
  }
}
.reason .container h2 .inline-block::before, .reason .container h2 .inline-block::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  width: 50px;
  height: 1px;
  background-color: #184422;
}
@media screen and (min-width: 900px) {
  .reason .container h2 .inline-block::before, .reason .container h2 .inline-block::after {
    width: 120px;
    height: 2px;
    top: calc(50% + 21px);
  }
}
.reason .container h2 .inline-block::before {
  left: -50px;
  transform: translate(-100%, -50%) rotate(57.6deg);
}
@media screen and (min-width: 900px) {
  .reason .container h2 .inline-block::before {
    left: -12.6388888889%;
    transform: translate(-100%, -50%) rotate(48deg);
  }
}
@media screen and (min-width: 1000px) {
  .reason .container h2 .inline-block::before {
    left: -182px;
  }
}
.reason .container h2 .inline-block::after {
  right: -50px;
  transform: translate(100%, -50%) rotate(-57.6deg);
}
@media screen and (min-width: 900px) {
  .reason .container h2 .inline-block::after {
    right: -12.6388888889%;
    transform: translate(100%, -50%) rotate(-48deg);
  }
}
@media screen and (min-width: 1000px) {
  .reason .container h2 .inline-block::after {
    right: -182px;
  }
}
.reason .container h2 .inline-block strong {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 46px;
}
@media screen and (min-width: 900px) {
  .reason .container h2 .inline-block strong {
    font-size: 9.6rem;
    line-height: 132px;
  }
}
.reason .container .reason_cp {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 11px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0;
  color: #222;
}
@media screen and (min-width: 900px) {
  .reason .container .reason_cp {
    margin-bottom: 81px;
    font-size: 3.2rem;
    line-height: 40px;
  }
}
.reason .container .reason_cp::before, .reason .container .reason_cp::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 22px;
  height: 1px;
  background-color: #222;
}
@media screen and (min-width: 900px) {
  .reason .container .reason_cp::before, .reason .container .reason_cp::after {
    width: 60px;
    height: 1.5px;
  }
}
.reason .container .reason_cp::before {
  left: -3px;
  transform: translate(-100%, -50%);
}
@media screen and (min-width: 900px) {
  .reason .container .reason_cp::before {
    left: -6px;
  }
}
.reason .container .reason_cp::after {
  right: -3px;
  transform: translate(100%, -50%);
}
@media screen and (min-width: 900px) {
  .reason .container .reason_cp::after {
    right: -6px;
  }
}
.reason .container ul {
  margin-bottom: 10px;
}
@media screen and (min-width: 900px) {
  .reason .container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
    max-width: 1157px;
    margin: 0 auto 20px;
  }
}
.reason .container ul li {
  margin: 0 auto;
  max-width: 500px;
}
@media screen and (min-width: 900px) {
  .reason .container ul li {
    margin: 0;
    max-width: 100%;
  }
}
.reason .container ul li.list_left {
  margin-bottom: 10px;
}
@media screen and (min-width: 900px) {
  .reason .container ul li.list_left {
    margin: 0;
    width: 552px;
  }
}
.reason .container ul li.list_right {
  position: relative;
}
@media screen and (min-width: 900px) {
  .reason .container ul li.list_right {
    width: 563px;
  }
}
.reason .container ul li.list_right .reason_human_message {
  display: none;
}
@media screen and (min-width: 900px) {
  .reason .container ul li.list_right .reason_human_message {
    display: block;
    position: absolute;
    top: -18.2590233546%;
    left: -39.9644760213%;
    width: 87.0337477798%;
  }
}
.reason .container .reason_access_text {
  font-family: "Noto Serif JP", serif;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0;
  text-align: center;
  color: #184422;
}
@media screen and (min-width: 900px) {
  .reason .container .reason_access_text {
    font-size: 4.8rem;
    line-height: 69px;
  }
}
.reason .container .reason_access_text .main-font {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
}
@media screen and (min-width: 900px) {
  .reason .container .reason_access_text .main-font {
    font-size: 3.2rem;
    line-height: 46px;
  }
}
.reason .container .reason_access_text .block {
  display: block;
}
@media screen and (min-width: 900px) {
  .reason .container .reason_access_text .block {
    display: inline;
  }
}
.reason .container .reason_access_text .block strong {
  display: inline-block;
  margin-right: 6px;
}
@media screen and (min-width: 900px) {
  .reason .container .reason_access_text .block strong {
    margin-right: 5px;
  }
}
@media screen and (min-width: 900px) {
  .reason .container .reason_access_text .text-position-pc {
    display: inline-block;
    transform: translateX(-17px);
  }
}
.reason .container .reason_access_text .text-position {
  display: inline-block;
  transform: translateX(10px);
}
@media screen and (min-width: 900px) {
  .reason .container .reason_access_text .text-position {
    transform: translateX(22px);
  }
}
.reason .container .reason_access_text strong {
  position: relative;
  font-family: "Noto Serif JP", serif;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0;
  color: #ef6811;
}
@media screen and (min-width: 900px) {
  .reason .container .reason_access_text strong {
    font-size: 4.8rem;
    line-height: 69px;
  }
}
.reason .container .reason_access_text strong.text-position-st {
  display: inline-block;
  margin-left: -8px;
}
@media screen and (min-width: 900px) {
  .reason .container .reason_access_text strong.text-position-st {
    margin-right: 4px;
    margin-left: -18px;
  }
}
.reason .container .reason_access_text strong:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: rgba(216, 221, 25, 0.7);
}
@media screen and (min-width: 900px) {
  .reason .container .reason_access_text strong:before {
    width: calc(100% + 10px) !important;
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 50%;
    z-index: -1;
    width: 100%;
    height: 26px;
    background-color: rgba(216, 221, 25, 0.7);
    transform: translateX(-50%);
  }
}
.reason .container .reason_access_text .sub_t {
  display: inline-block;
  margin-top: 3px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
}
@media screen and (min-width: 900px) {
  .reason .container .reason_access_text .sub_t {
    margin-top: 23px;
    font-size: 3.2rem;
    line-height: 46px;
  }
}

.access {
  padding: 40px 5% 39.7333333333%;
  background: url(../img/sec_beige_bg.svg) no-repeat top/cover;
}
@media screen and (min-width: 900px) {
  .access {
    padding-right: 0;
    padding-left: 0;
  }
}
@media screen and (min-width: 1000px) {
  .access {
    padding: 100px 0 6.9444444444%;
    background: url(../img/sec_beige_bg_pc.svg) no-repeat top/cover;
  }
}
.access .container {
  max-width: 900px;
  margin: 0 auto;
}
@media screen and (min-width: 900px) {
  .access .container {
    max-width: 1440px;
  }
}
.access .container h2 {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 150px;
  font-family: "Noto Serif JP", serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0;
  text-align: right;
  color: #59975c;
}
@media screen and (min-width: 900px) {
  .access .container h2 {
    margin-left: 7.6388888889%;
    font-size: 4.8rem;
    line-height: 69px;
    text-align: left;
  }
}
@media screen and (min-width: 1440px) {
  .access .container h2 {
    margin-bottom: 74px;
  }
}
.access .container h2 .block {
  display: block;
}
.access .container h2 .block strong {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 34px;
  color: #ef6811;
}
@media screen and (min-width: 900px) {
  .access .container h2 .block strong {
    font-size: 6.4rem;
    line-height: 94px;
  }
}
.access .container h2 .uline {
  position: relative;
}
.access .container h2 .uline::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 6px;
  background: url(../img/access_uline.svg) no-repeat center/100%;
}
@media screen and (min-width: 900px) {
  .access .container h2 .uline::before {
    bottom: -12px;
    left: -21px;
    width: calc(100% + 21px);
    height: 18px;
    background: url(../img/access_uline_pc.svg) no-repeat center/100%;
  }
}
.access .container h2 .uline.text_position {
  display: inline-block;
  margin-top: 17px;
  padding-right: 4px;
}
@media screen and (min-width: 900px) {
  .access .container h2 .uline.text_position {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
  }
}
@media screen and (min-width: 1000px) {
  .access .container h2 .uline.text_position {
    margin-right: -62px;
  }
}
.access .container .access_map_layout {
  position: relative;
  max-width: 550px;
  margin: 0 auto;
}
@media screen and (min-width: 900px) {
  .access .container .access_map_layout {
    max-width: 650px;
  }
}
@media screen and (min-width: 1000px) {
  .access .container .access_map_layout {
    max-width: 55.4166666667%;
    margin: 0 8.3333333333% 0 auto;
  }
}
.access .container .access_map_layout .access_bird {
  position: absolute;
  top: -27.5555555556%;
  right: 3.1746031746%;
  width: 30.7936507937%;
}
@media screen and (min-width: 1000px) {
  .access .container .access_map_layout .access_bird {
    top: -30.0527240773%;
    right: -3.1328320802%;
    width: 31.0776942356%;
  }
}
.access .container .access_map_layout .access_human {
  position: absolute;
  bottom: -48.4444444444%;
  right: -1.5873015873%;
  width: 70.1587301587%;
}
@media screen and (min-width: 1000px) {
  .access .container .access_map_layout .access_human {
    bottom: 0.5272407733%;
    left: -4.1353383459%;
    width: 50.3759398496%;
    transform: translateX(-100%);
  }
}

.insti {
  padding: 40px 0 26px;
}
@media screen and (min-width: 900px) {
  .insti {
    padding: 106px 0 100px;
  }
}
.insti h2 {
  margin-bottom: 24px;
  font-family: "Noto Serif JP", serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0;
  text-align: center;
  color: #184422;
}
@media screen and (min-width: 900px) {
  .insti h2 {
    margin-bottom: 18px;
    font-size: 3.6rem;
    line-height: 52px;
  }
}
.insti h2 .block {
  display: block;
}
@media screen and (min-width: 900px) {
  .insti h2 .block {
    display: inline;
  }
}
.insti h2 .text-position {
  display: inline-block;
  margin-top: -7px;
}
@media screen and (min-width: 900px) {
  .insti h2 .text-position {
    margin: 0;
  }
}
.insti h2 strong {
  position: relative;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 34px;
  color: #ef6811;
}
@media screen and (min-width: 900px) {
  .insti h2 strong {
    font-size: 4.8rem;
    line-height: 69px;
  }
}
.insti h2 strong::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: rgba(216, 221, 25, 0.7);
}
@media screen and (min-width: 900px) {
  .insti h2 strong::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 30px;
    background-color: rgba(216, 221, 25, 0.7);
  }
}
.insti .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 5%;
}
@media screen and (min-width: 900px) {
  .insti .container {
    max-width: 1440px;
    padding: 0 7.6388888889%;
  }
}
.insti .container .insti_human {
  width: 282px;
  margin: 0 auto 13px;
}
@media screen and (min-width: 900px) {
  .insti .container .insti_human {
    width: 41.3888888889%;
    margin: 0 0 40px auto;
  }
}
.insti .container .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
@media screen and (min-width: 900px) {
  .insti .container .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}/*# sourceMappingURL=top.css.map */