@use '../bases/variables' as vb;
@use '../modules/index' as md;

/*
===============
Google-Font
===============
*/

/*
===============
Base
===============
*/

/*
===============
Link-hover
===============
*/

/*
===============
Color-Set
===============
*/

/*
===============
Common-layout
===============
*/
img{
    display: block;
    width:100%;
    height:auto;
}
.wrapper{
    max-width: 1440px;
    margin:0 auto;
}

/*
===============
Opening-Animation
===============
*/

/*
===============
Font-Set
===============
*/
html{
font-size:62.5%;
}