/*
===============
font-family
===============
*/
$main-font: 'Noto Sans JP', sans-serif;
$sub-font: 'Noto Serif JP', serif;
// $sub-font2: 'Poppins', sans-serif;

/*
===============
base-color
===============
*/
// $black-color: #000000;
// $white-color: #ffffff;
$orange-color: #ef6811;
$green-color: #184422;
$middle-green-color:#59975c;
$lite-green-color: #d8dd19;
$beige-color: #faf8f6;

